# Expo
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
expo-env.d.ts

# Generated native folders (from expo prebuild)
/ios
/android

# Environment variables
.env
.env.*
!.env.example
google-services-key.json
google-services.json
GoogleService-Info.plist

# macOS
.DS_Store

# Build artifacts
*.tsbuildinfo
yarn-debug.*
yarn-error.*
.metro-health-check*
.kotlin/

# EAS
*.pem
